<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
            <img src="/assets/images/logo.png" style="max-height: 120px;" alt="icon">
        </a>
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a href="#" class="nav-link px-2">Loja</a></li>
        <li><a href="#" class="nav-link px-2">Contato</a></li>
        <li><a href="#" class="nav-link px-2">Ajuda</a></li>
        <li><a href="#" class="nav-link px-2">Sobre</a></li>
      </ul>

      <div class="col-md-3 text-end">
        <a href="">
            <i class="fa fa-shopping-cart text-danger mr-5 fa-2x" style="margin-right: 30px;"></i>
            <div class="card-number">3</div>
        </a>
        <button type="button" class="btn btn-outline-danger me-2">Login</button>
        <button type="button" class="btn btn-danger">Sign-up</button>
      </div>
    </header>
  </div>