
<div class="container">
    <div class="row">
      
        <section class="col-3">
            <h6 class="text-danger my-3" style="font-weight: bold;">Ordenar Por:</h6>
            <select class="form-select" aria-label="Default select example" (change)="onSortSelect($event)">
                <option *ngFor="let item of sortOption" [value] = "item.value">{{item.nome}}</option>     
            </select>

            <h6 class="text-danger my-3" style="font-weight: bold;">Categoria</h6>
            <ul class="list-group">
                <li class="list-group-item" aria-current="true" 
                *ngFor="let item of Categoria"
                [class.active] ="item.id === shopParams.categoria_id"
                [value] = "item.id"
                (click) = "OnCategoriaSelect(item.id)"
                >{{item.cat_nm_nome}}</li>
       
              </ul>
        </section>


        <section class="col-9">
            <div class="d-flex justify-content-between align-items-center pb-2 pt-4">
                          
            <app-paging-header [totalCount]="totalCount" [pageSize]="shopParams.pageSize" [pageNumber]="shopParams.pageNumber"></app-paging-header>
                <div class="col-9">
                    <div class="input-group">
                        <input (keyup.enter)="onSearch()" class="form-control mr-2"  type="text" #search placeholder="Pesquisar">
                        <button class="btn btn-outline-success" (click) = "onSearch()">Buscar</button>
                        <button class="btn btn-outline-warning" (click) = "onClean()">Limpar</button>
                    </div>
                </div>
            </div>
            
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" >
                <div class="col" *ngFor="let item of Produtos">
                    <app-shop-item [produto] = "item"></app-shop-item>   
                </div>                     
            </div>
            <div class="d-flex justify-content-center mt-3" *ngIf="totalCount>0">
                <app-pager [totalCount]="this.totalCount" [pageSize]="shopParams.pageSize" (pageChaged)="onPageChaged($event)"></app-pager>
            </div>
        </section>
    </div>
</div>
